{% extends '../base.html' %}

{% block content %}
{% include 'fragment/tabs.html' %}
{% include 'popup/editProfile.html' %}

<div class="row">
    <h1>
      <div class="col-md-6 col-sm-6 col-xs-6" style="color:#7400ff;display:block; text-align: left">
      Profile
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6" style=" display:block; text-align: right">
        {% load static %}
        <button
        type="submit" class="btn"
          data-toggle="modal" data-target="#editProfile">
          <img src="{% static 'images/ic_edit.png' %}"
          alt="ic_edit.png"
          style="width:39;height: 39;">
          
          </button>

      </div>
    </h1>
</div>

<div class="row">
  <div class="col-md-6  col-md-offset-3" style=" display:block; text-align: center">
    {% if user.imageURL == "default" %}
    {% load static %}
    <img src="{% static 'images/ic_launcher.png' %}" alt="ic_launcher.png"
    style="max-width: 100%;
      max-height: 100%;
      margin:auto;"/>
    {% else %}
      <img src={{user.imageURL}} alt="image">
    {% endif %}
  </div>
</div>

<div class="row">
  <h3>
    <div class="col-md-6 col-md-offset-3" style="color:#7400ff;display:block; text-align: center">
    {{user.email}}
    </div>
  </h3>
</div>

<div class="row">
  <h3>
    <div class="col-md-6 col-md-offset-3" style="color:#7400ff;display:block; text-align: center">
    {{user.username}}
    </div>
  </h3>
</div>




{% endblock %}
