

  <ul class="nav nav-tabs">
      <li style="width:25%;">
        <a href="/main/Chats" style="margin: 0 auto; display:block; text-align: center">
            {% load static %}
          <img src="{% static 'images/ic_chats.png' %}"
          alt="ic_chats.png"
          style="max-width: 50%;max-height: 50%; ">
          <br>
          Chats
        </a>
      </li>

    <li style="width:25%;">
      <a href="/main/ChatRooms" style="margin: 0 auto; display:block; text-align: center">
        {% load static %}
      <img src="{% static 'images/ic_chatrooms.png' %}"
      alt="ic_chatrooms.png"
      style="max-width: 50%;max-height: 50%;">
      <br>
      ChatRooms
      </a>
    </li>


    <li style="width:25%;" >
      <a href="/main/Users" style="margin: 0 auto; display:block; text-align: center">
        {% load static %}
      <img src="{% static 'images/ic_users.png' %}"
      alt="ic_users.png"
      style="max-width: 50%;max-height: 50%;">
      <br>
        Users
      </a>
    </li>



    <li style="width:25%;">
      <a href="/main/Profile"style="margin: 0 auto; display:block; text-align: center">
        {% load static %}
      <img src="{% static 'images/ic_profile.png' %}"
      alt="ic_profile.png"
      style="max-width: 50%;max-height: 50%;">
      <br>
        Profile
      </a>
    </li>

  </ul>
